comment "Qualcomm Atheros Prima WLAN module"

config PRIMA_WLAN
	tristate "Qualcomm Atheros Prima WLAN module"
	default n
	help
	  Add support for the Qualcomm Atheros Prima WLAN module

config PRONTO_WLAN
	tristate "Qualcomm Atheros Pronto WLAN module"
	default n
	help
	  Add support for the Qualcomm Atheros Pronto WLAN module
